#navbar{
    width:100%;
    height:10%;
    left:0px;
    top: 0 px;  
   position: relative;
   z-index: 999;
   background-color: #000;
}

.fp-tableCell{

    display: table-cell;
    vertical-align: top !important;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1000px) {
    #navbar {
        height:6%;
    }
  }

#logo{
    position: relative;
}

#menu{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    color: aliceblue;
    text-decoration: none;
    position: relative;    
    text-align: conter;
    margin-left : 0px;
}
@media screen and (max-width: 1000px) {
    #menu {
      font-size: 20px;
    }
  }
body{
    background-color: #000;

}
.page_2{
    padding-left: 520px;
}
.page_3{
    padding-left: 100px;    
}
.page_4{
    padding-left: 100px;
}
.page_5{
    padding-left: 100px;
}


/* 
여기서부터 현문 */
#secondpoll{
    display:none;
}

.first{
    border : 1px solid gray;
    position: absolute;
    width: 27%;
    height: 35%;
    
}

.second{
    border: 1px solid gray;
    position: absolute;
    left: 31%;
    margin-left: 5%;
    width:27%;
    height: 35%;
    
}

.third{
    border: 1px solid gray;
    position: absolute;
    margin-left: 5%;
    left: 66%;
    width:27%;  
    height: 35%;
    
    
}

#review{
    text-align: center;
    vertical-align: top !important;

}

.select{
    position: fixed;
    bottom: 25%;
    right: 46%;
}

#img{
    width:70px;
    border-radius: 100%;
    grid-column:1;
    border: 2px solid white;
    position: relative;
    top: 7px;
    left: 7px;
}
.name{
    grid-column:2;
    position: relative;
    left: 93px;
    top: -63px;
    
}
.age{
    grid-column:2;
    position: relative;
    left: 93px;
    top: -63px;
}
.inst{
    grid-column:2;
    position: relative;
    left: 93px;
    top: -63px;
}
.text{
    margin:0px;
    position: relative;
    top: -60px;
    font-size:14px;
    padding:5%;
}

@media(max-width:757px){
    .first, .second, .third{
        border: white;
    }
}
.footer {
    width:100%;
    height:60px;
    position:absolute;
    bottom:0;
    background:black;
   text-align: center;
   color: white;
 }