#navbar{
    width:100%;
    height:10%;
    left:0px;
    top: 0 px;  
   position: relative;
   z-index: 999;
   background-color: #000;
}

.fp-tableCell{

    display: table-cell;
    vertical-align: top !important;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1000px) {
    #navbar {
        height:6%;
    }
  }

#logo{
    position: relative;
}

#menu{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    color: aliceblue;
    text-decoration: none;
    position: relative;    
    text-align: conter;
    margin-left : 0px;
}
@media screen and (max-width: 1000px) {
    #menu {
      font-size: 20px;
    }
  }
body{
    background-color: #000;

}
.page_2{
    padding-left: 520px;
}
.page_3{
    padding-left: 100px;    
}
.page_4{
    padding-left: 100px;
}
.page_5{
    padding-left: 100px;
}


/* 
여기서부터 현문 */

.first{
    border: 3px solid rgb(58, 0, 0);
    position: fixed;
    width: 27%;
    height: 74%;
    transition: 0.5s;
    margin-top: 5%;
}

.second{
    border: 3px solid rgb(58, 0, 0); 
    position: fixed;
    left: 31%;
    margin-left: 5%;
    width:27%;
    height: 74%;
    transition: 0.5s;
    margin-top: 5%;
}

.third{
    border: 3px solid rgb(58, 0, 0);
    position: fixed;
    margin-left: 5%;
    left: 66%;
    width:27%;  
    height: 74%;
    transition: 0.5s;
    margin-top: 5%;
}

.first:hover, .second:hover, .third:hover{
    background-color: rgb(58, 0, 0);
    box-shadow : 0px 0px 4px 4px black inset;
    border:none;
}

#review{
    text-align: center;
    vertical-align: top !important;
    font-weight:bolder;

}

.select{
    position: fixed;
    bottom: 25%;
    right: 46%;
}

#img{
    width:70px;
    border-radius: 100%;
    grid-column:1;
    border: 2px solid white;
    position: relative;
    top: 27px;
    left: -61px;
}
.name{
    grid-column: 2;
    position: relative;
    left: 13px;
    top: -56px;
    font-weight:bold;
}
.age{
    grid-column: 2;
    position: relative;
    left: 21px;
    top: -56px;
    font-size: 15px;
    color:gray;
    font-style:italic;
    
}
.inst{
    grid-column: 2;
    position: relative;
    left: 21px;
    top: -54px;
    font-size: 15px;
    color:gray;
    font-style:italic;
    
}
.text{
    margin: 0px;
    position: relative;
    top: -41px;
    font-size: 14px;
    padding: 5%;
    text-align:left;
}

@media(max-width:757px){
    .first, .second, .third{
        border: white;
    }
}
.footer {
    width:100%;
    height:60px;
    position:absolute;
    bottom:0;
    background:black;
   text-align: center;
   color: white;
 }